################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wp-sheetmusic/FileContentIndex
/.vs/wp-sheetmusic/v17
/.vs
.DS_Store
sheetmusiclibrarian101.zip
sheetmusiclibrarian110.zip
sheetmusiclibrarian111.zip
sheetmusiclibrarian112.zip
sheetmusiclibrarian/sheet-music-library.php
