################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wp-sheetmusic/FileContentIndex
/.vs/wp-sheetmusic/v17
/.vs
